<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/2020-3.PII/controllers/login_controller.php/" method= "get">
        <input type="email" name="userEmail" placeholder=" User mail"> <br> <br>
        <input type="password" name="userPassword" placeholder=" User Password"> <br> <br>
        <input type="submit" value="Enter">

        <a href="https://">Forgot password </a>
       



    </form>
</body>
</html>