<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <form action="/PII2020-3.DanielMoreno/controllers/update_controller.php" method="get">
    <h2>Buscar usuario: </h2>
    <input type="email" name="userEmail" placeholder=" User mail"> <br> <br>
    <input type="NewPassword" name="newPassword" placeholder=" New Password"> <br> <br>
    <input type="submit" value="Enter">
</form>
</body>
</html>